$color-white: #ffffff;
$color-gray: #9b9b9b;
$color-light-gray: #cccccc;
$color-accent: #f56356;
$color-secondary: #001a4a;
$colot-text: #222222;
$color-placeholder: rgba(255,255,255,.4);
$color-success: #00bd9d;
$color-success-secondary: #008a72;
$color-error: #f18f3e;
$color-error-secondary: #c4722d;
$border-color: rgba(0,0,0,.06);
$shadow-box-color: rgba(0,0,0,0.10);

$weight-bold: 600;

$font-size-default: 13px;
$font-size-small: 12px;
$font-size-big: 14px;
$font-size-title: 16px;
